@media screen and (max-width: 992px)
{
    .navbar-header
    {
        height:70px;
        display:inline;
        padding:3px;
        padding-left:4%;
        margin:2px 3px;
    }
    
    .top-border-nav{border-top:none;}
    #large-logo {display:none;}
    div#social{display:none;}
    
    ul.sidenav 
    {
        text-align:center;
        display:inline-block;
        width:70%;
        float:right;
        padding:0 40px;
        height:auto;
        position:relative;
        transform: translate(20%, -76%);
        padding-left:1%;
        margin-bottom:-5em;
        background-color:transparent;
    }
    
    ul.sidenav li a 
    {
        display:inline-block;
        float: left;
        padding: 15px;
    }
    
    .main-grid#contact {
        height:auto;
        overflow:inherit;
        margin-left:0;
        padding:0px 0px 10px 5px;
    }
    
    div.main-grid{margin-left:0;}
    
    div.main-about-grid {margin-left:0;}
    
    .circle-grid
    {
    text-align: center;
    padding: 10px;
    }
    
    #name,#contact-info{text-align: center;}

}

@media screen and (max-width: 767px)
{

    ul.sidenav {
        padding:5px 0 50px 0;
        padding-bottom:40px;
        line-height:0px;
        transform: translate(-18%, -30%);
    }
    ul.sidenav li a
    {
        text-align: center;
        float: none;
    }
}