@media screen and (max-width: 1075px)
{
  
  .logo-grid{
    padding-bottom:0;
  }
  nav {
  text-align: center;
  padding: 10px 0;
  margin: 20px 0 0;
  }
  nav ul {
    padding: 0;
  }
  nav li {
    display: inline-block;
  }
  nav a {
    padding: 15px 10px;
  }
  .listserv-grid{
  padding-top: 5px;
}
.circle-grid{
  text-align: center;
  padding: 10px;
}
#name,#contact-info{
  text-align: center;
}

}


@media screen and (max-width: 400px)
{
  .logo-grid{
    padding-bottom:0;
  }
  nav {
  text-align: center;
  padding: 10px 0;
  margin: 20px 0 0;
  }
  nav ul {
    padding: 0;
        }
  nav li {
    display: inline-block;
  }
}

@media screen and (max-width: 1024px){
    .sidenav {
        width:100%;
        height:auto;
        position:relative;
    }
    .sidenav li a {
        float: left;
        padding: 15px;
    }
    div.content {margin-left:0;}
}

@media screen and (max-width: 400px){
    .sidenav li a {
        text-align: center;
        float: none;
    }
}
